In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
df = pd.read_csv('data/COVID19MEXICO2022.csv')

C:\Users\daniel\AppData\Local\Temp\ipykernel_6192\82309609.py:1: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/COVID19MEXICO2022.csv')

In [4]:
df["ID_REGISTRO"].duplicated().sum()

0

In [5]:
df.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2023-06-01,15ec76,1,12,5,2,5,5,35,1,2022-01-11,2022-01-08,9999-99-99,97,2,26,1,97,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
1,2023-06-01,1ce5c6,2,6,9,2,9,9,10,2,2022-02-02,2022-02-02,9999-99-99,2,2,70,1,97,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,2,7,99,México,97,2
2,2023-06-01,07e45f,1,6,12,1,12,12,29,1,2022-03-20,2022-03-15,9999-99-99,97,2,82,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,2,97,6,99,México,97,97
3,2023-06-01,17d402,2,12,9,2,9,9,8,1,2022-06-25,2022-06-23,9999-99-99,97,2,25,1,97,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
4,2023-06-01,0a392b,1,12,7,1,7,7,19,1,2022-08-23,2022-08-21,9999-99-99,97,2,36,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,2,97,6,99,México,97,97

Se seleccionan unicamente los registros que sean confirmados y que sean casos positivos de COVID-19

Según el catalogo de datos, los valores 1,2,3 son casos confirmados

In [6]:
df.columns = ['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL_COVID',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI']

In [7]:
df["CLASIFICACION_FINAL_COVID"].value_counts()

CLASIFICACION_FINAL_COVID
3    3117544
7    3050733
6     195769
1      77433
5       9672
2        432
4        361
Name: count, dtype: int64

In [8]:
df[(df["CLASIFICACION_FINAL_COVID"] == 1) | (df["CLASIFICACION_FINAL_COVID"] == 2) | (df["CLASIFICACION_FINAL_COVID"] == 3)]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL_COVID,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2023-06-01,15ec76,1,12,5,2,5,5,35,1,2022-01-11,2022-01-08,9999-99-99,97,2,26,1,97,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
5,2023-06-01,0bb6ea,2,12,1,1,15,1,1,1,2022-07-21,2022-07-14,9999-99-99,97,2,44,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,2,97,3,99,México,97,97
7,2023-06-01,0d8b90,2,12,9,2,9,9,4,1,2022-12-23,2022-12-23,9999-99-99,97,2,73,1,97,99,99,1,2,2,2,2,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
10,2023-06-01,1c4d2e,2,9,9,1,9,9,12,1,2022-01-01,2022-01-01,9999-99-99,97,2,37,1,2,2,2,98,98,98,98,98,98,98,98,98,98,99,2,97,1,1,3,99,México,97,97
14,2023-06-01,13b5a5,2,12,32,1,32,32,56,1,2022-08-09,2022-08-07,9999-99-99,97,2,29,1,2,2,2,2,2,2,2,1,2,2,2,2,2,2,1,2,1,1,3,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6451938,2023-06-01,9bc48d,2,12,3,1,3,3,3,1,2022-01-31,2022-01-26,9999-99-99,97,2,58,1,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
6451939,2023-06-01,bc6fd3,1,12,12,1,12,12,1,2,2022-01-31,2022-01-28,9999-99-99,2,1,31,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,3,99,México,97,2
6451940,2023-06-01,d5d7f8,1,4,12,2,12,12,1,1,2022-01-19,2022-01-18,9999-99-99,97,2,53,1,97,2,2,1,2,2,2,1,2,2,2,2,2,1,2,97,1,1,3,99,México,97,97
6451941,2023-06-01,7c2109,1,12,30,1,30,30,136,1,2022-01-23,2022-01-22,9999-99-99,97,2,2,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
6451942,2023-06-01,96f8da,2,12,9,1,9,9,8,1,2022-01-27,2022-01-27,9999-99-99,97,2,55,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97

In [9]:
df = df[(df["CLASIFICACION_FINAL_COVID"] == 1) | (df["CLASIFICACION_FINAL_COVID"] == 2) | (df["CLASIFICACION_FINAL_COVID"] == 3)]

### Se crea una nueva variable que es saber si la persona falleció o no

In [10]:
df["DEFUNCION"] = np.where(df['FECHA_DEF'] == '9999-99-99', 2, 1)

### Se pasa a formato fecha

#### Primero se pasa a nulos los valores de 9999-99-99, que representan lo que no han fallecido

In [11]:
df['FECHA_DEF'] = df['FECHA_DEF'].replace('9999-99-99', np.nan)

In [12]:
df['FECHA_DEF'] = pd.to_datetime(df['FECHA_DEF'])

In [13]:
df['FECHA_SINTOMAS'] = pd.to_datetime(df['FECHA_SINTOMAS'])
df['FECHA_ACTUALIZACION'] = pd.to_datetime(df['FECHA_ACTUALIZACION'])

In [14]:
df.FECHA_DEF.describe()

count                            26108
mean     2022-03-24 19:10:32.633675776
min                2022-01-01 00:00:00
25%                2022-01-28 00:00:00
50%                2022-02-10 00:00:00
75%                2022-03-24 00:00:00
max                2023-03-08 00:00:00
Name: FECHA_DEF, dtype: object

In [15]:
df.FECHA_SINTOMAS.describe()

count                          3195409
mean     2022-04-19 09:23:07.485483264
min                2022-01-01 00:00:00
25%                2022-01-17 00:00:00
50%                2022-02-21 00:00:00
75%                2022-07-11 00:00:00
max                2022-12-31 00:00:00
Name: FECHA_SINTOMAS, dtype: object

In [16]:
df.FECHA_ACTUALIZACION.describe()

count                          3195409
mean     2023-06-01 00:00:00.000006400
min                2023-06-01 00:00:00
25%                2023-06-01 00:00:00
50%                2023-06-01 00:00:00
75%                2023-06-01 00:00:00
max                2023-06-01 00:00:00
Name: FECHA_ACTUALIZACION, dtype: object

Vamos a calcular el numero de dias que han pasado desde la fecha de ingreso/sintomas hasta la fecha de defuncion

In [17]:
df['DIAS_SINTOMAS_DEF'] = (df['FECHA_DEF'] - df['FECHA_SINTOMAS']).dt.days
df['DIAS_SINTOMAS_ACT'] = (df['FECHA_ACTUALIZACION'] - df['FECHA_SINTOMAS']).dt.days

In [18]:
df[df['DEFUNCION']== 1][['DIAS_SINTOMAS_DEF','DIAS_SINTOMAS_ACT']]

         DIAS_SINTOMAS_DEF  DIAS_SINTOMAS_ACT
55                     8.0                473
299                    7.0                487
404                   11.0                495
432                    4.0                490
525                    4.0                490
...                    ...                ...
6451643               16.0                499
6451706               12.0                489
6451823                7.0                492
6451843                8.0                490
6451900               11.0                497

[26108 rows x 2 columns]

In [19]:
df.shape

(3195409, 43)

In [20]:
df.DEFUNCION.value_counts()

DEFUNCION
2    3169301
1      26108
Name: count, dtype: int64

Se eliminan los registros que tienen valores negativos en los días de síntomas a defunción, ya que es una inconsistencia en los datos. Podría ser que se truncaron los datos, pero al ser tan solo 1 registro se procede a eliminarlo.

In [21]:
df[df["DIAS_SINTOMAS_DEF"] < 0]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL_COVID,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI,DEFUNCION,DIAS_SINTOMAS_DEF,DIAS_SINTOMAS_ACT
58812,2023-06-01,bb319d,1,12,32,2,32,32,20,2,2022-02-01,2022-01-26,2022-01-18,2,2,10,1,97,2,2,2,2,2,2,2,2,2,2,1,2,2,2,97,1,1,3,99,México,97,2,1,-8.0,491

In [22]:
df = df[~(df['DIAS_SINTOMAS_DEF']< 0)]

Seleccionamos las columnas que nos interesan para el análisis

In [24]:
df_cox = df[["DEFUNCION","DIAS_SINTOMAS_ACT","DIAS_SINTOMAS_DEF", "NEUMONIA", "DIABETES", "EPOC", "ASMA", "INMUSUPR", "HIPERTENSION", "OTRA_COM", "CARDIOVASCULAR", "OBESIDAD", "RENAL_CRONICA", "TABAQUISMO"]]

In [25]:
df_cox.head()

,DEFUNCION,DIAS_SINTOMAS_ACT,DIAS_SINTOMAS_DEF,NEUMONIA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
0,2,509,NaN,2,2,2,2,2,2,2,2,2,2,2
5,2,322,NaN,2,2,2,2,2,2,2,2,2,2,2
7,2,160,NaN,2,1,2,2,2,2,2,2,2,2,2
10,2,516,NaN,2,98,98,98,98,98,98,98,98,98,98
14,2,298,NaN,2,2,2,2,2,1,2,2,2,2,2

In [26]:
df_cox["DEFUNCION"].value_counts()

DEFUNCION
2    3169301
1      26107
Name: count, dtype: int64

Camabiar valores para que 1 sea si (prensenta condicion o afirmacion de nombre de columna) y 0 sea no (no presenta condicion o negación de nombre de columna)

In [27]:
df_cox.replace([1,2], [1,0], inplace=True)

C:\Users\daniel\AppData\Local\Temp\ipykernel_6192\3344868473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cox.replace([1,2], [1,0], inplace=True)

Vamos a eliminar los registros con valores nulos

In [28]:
day_variables = df_cox[["DIAS_SINTOMAS_ACT","DIAS_SINTOMAS_DEF"]]

In [29]:
df_cox = df_cox.drop(day_variables, axis=1)

In [30]:
df_cox.replace([97,98,99], np.nan, inplace=True)

In [31]:
df_cox = df_cox.dropna()

In [32]:
df_cox["DEFUNCION"].value_counts()

DEFUNCION
0    3135873
1      25803
Name: count, dtype: int64

In [33]:
df_cox = df_cox.astype(int)

In [34]:
df_cox = df_cox.join(day_variables, how='left')

In [35]:
df_cox.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3161676 entries, 0 to 6451942
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   DEFUNCION          int32
 1   NEUMONIA           int32
 2   DIABETES           int32
 3   EPOC               int32
 4   ASMA               int32
 5   INMUSUPR           int32
 6   HIPERTENSION       int32
 7   OTRA_COM           int32
 8   CARDIOVASCULAR     int32
 9   OBESIDAD           int32
 10  RENAL_CRONICA      int32
 11  TABAQUISMO         int32
 12  DIAS_SINTOMAS_ACT  int64
 13  DIAS_SINTOMAS_DEF  float64
dtypes: float64(1), int32(12), int64(1)
memory usage: 281.6 MB

In [36]:
df_cox.columns

Index(['DEFUNCION', 'NEUMONIA', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR',
       'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO', 'DIAS_SINTOMAS_ACT',
       'DIAS_SINTOMAS_DEF'],
      dtype='object')

En los dias transcurridos hasta el evento, para los pacientes que fallecieron, los valores se reemplazan por los días desde la fecha del inicio de los sintomas, hasta la fecha de defuncion. Para los pacientes que no fallecieron, el valor de dias transcurridos se reemplazan por los dias desde el inicio de los sintomas hasta la ultima fecha de actualización del conjunto de datos(representa el ultimo dia de estudio)

In [37]:
df_cox["DIAS_TRANSCURRIDOS"] = np.where(df_cox['DEFUNCION'] == 0, df_cox["DIAS_SINTOMAS_ACT"], df_cox["DIAS_SINTOMAS_DEF"])

In [38]:
df_cox.drop(["DIAS_SINTOMAS_ACT", "DIAS_SINTOMAS_DEF"], axis=1, inplace=True)

In [39]:
df_cox.columns = ['DEFUNCION', 'NEUMONIA', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR',
       'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO', 'DIAS_SINTOMAS_DEF']

In [40]:
df_cox = df_cox.astype(int)

In [41]:
df_cox.head()

,DEFUNCION,NEUMONIA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,DIAS_SINTOMAS_DEF
0,0,0,0,0,0,0,0,0,0,0,0,0,509
5,0,0,0,0,0,0,0,0,0,0,0,0,322
7,0,0,1,0,0,0,0,0,0,0,0,0,160
14,0,0,0,0,0,0,1,0,0,0,0,0,298
15,0,0,0,0,0,0,0,0,0,0,0,0,495

In [44]:
df_cox.to_csv('data/df_cox2022.csv', index=False)