In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', 500)

In [4]:
df = pd.read_csv('data/COVID19MEXICO2023.csv')

In [5]:
df["ID_REGISTRO"].duplicated().sum()

0

In [6]:
df.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2024-05-17,c9a5ed,2,12,9,2,9,9,9,1,2023-02-26,2023-02-22,9999-99-99,97,2,29,1,97,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
1,2024-05-17,cbecc9,2,6,5,1,5,5,28,1,2023-03-24,2023-03-19,9999-99-99,97,2,59,1,2,99,99,2,2,2,2,2,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
2,2024-05-17,370480,1,12,19,1,24,19,46,2,2023-01-15,2023-01-15,9999-99-99,2,2,71,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,2,97,6,99,México,97,2
3,2024-05-17,11adf2,1,12,31,2,31,31,50,1,2023-04-04,2023-04-04,9999-99-99,97,2,53,1,97,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
4,2024-05-17,0aa89f,1,10,9,2,15,9,3,1,2024-01-26,2024-01-25,9999-99-99,97,2,31,1,97,2,2,2,2,2,2,2,2,2,2,2,2,1,1,2,2,97,7,99,México,97,97

Se seleccionan unicamente los registros que sean confirmados y que sean casos positivos de COVID-19

Según el catalogo de datos, los valores 1,2,3 son casos confirmados

In [7]:
df.columns = ['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL_COVID',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI']

In [8]:
df["CLASIFICACION_FINAL_COVID"].value_counts()

CLASIFICACION_FINAL_COVID
7    754312
3    426948
6    110634
1      7934
5      4705
4       237
2        26
Name: count, dtype: int64

In [9]:
df[(df["CLASIFICACION_FINAL_COVID"] == 1) | (df["CLASIFICACION_FINAL_COVID"] == 2) | (df["CLASIFICACION_FINAL_COVID"] == 3)]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL_COVID,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
9,2024-05-17,9b25f8,1,6,15,1,9,9,5,1,2023-01-31,2023-01-30,9999-99-99,97,2,37,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
13,2024-05-17,b9620c,2,12,3,1,3,3,8,1,2023-02-14,2023-02-14,9999-99-99,97,2,48,1,98,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2,1,1,3,99,México,97,97
20,2024-05-17,5f09de,2,9,24,2,24,24,28,1,2023-01-12,2023-01-09,9999-99-99,97,2,20,1,97,2,2,2,2,2,2,2,1,2,2,2,2,2,1,1,2,97,3,99,México,97,97
28,2024-05-17,c6b1ff,2,12,7,1,7,7,112,1,2023-01-20,2023-01-15,9999-99-99,97,2,72,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
32,2024-05-17,985635,1,12,9,2,9,9,16,1,2023-05-09,2023-05-08,9999-99-99,97,2,57,1,97,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304775,2024-05-17,m0ae4cb,2,12,15,1,9,15,999,1,2023-08-27,2023-08-27,9999-99-99,97,99,49,1,2,99,99,2,2,2,2,2,98,2,1,2,2,99,2,97,1,1,3,99,México,97,97
1304777,2024-05-17,m066603,2,12,15,1,9,15,999,1,2023-08-28,2023-08-28,9999-99-99,97,99,27,1,2,99,99,2,2,2,2,2,98,2,2,2,2,99,2,97,1,1,3,99,México,97,97
1304779,2024-05-17,m0ee321,2,12,15,2,15,15,999,1,2023-08-28,2023-08-28,9999-99-99,97,99,26,1,97,99,99,2,2,2,2,2,98,2,2,2,2,99,2,97,1,1,3,99,México,97,97
1304786,2024-05-17,m0b74d8,2,9,15,2,9,9,16,2,2023-08-29,2023-08-29,9999-99-99,2,99,68,1,97,99,99,1,2,2,2,2,98,2,2,2,2,99,1,1,2,97,3,99,México,97,2
1304788,2024-05-17,m183d8a,2,9,15,2,9,15,37,1,2023-08-29,2023-08-29,9999-99-99,97,99,50,1,97,99,99,2,2,2,2,2,98,2,2,2,2,99,1,1,2,97,3,99,México,97,97

In [10]:
df = df[(df["CLASIFICACION_FINAL_COVID"] == 1) | (df["CLASIFICACION_FINAL_COVID"] == 2) | (df["CLASIFICACION_FINAL_COVID"] == 3)]

### Se crea una nueva variable que es saber si la persona falleció o no

In [11]:
df["DEFUNCION"] = np.where(df['FECHA_DEF'] == '9999-99-99', 2, 1)

### Se pasa a formato fecha

#### Primero se pasa a nulos los valores de 9999-99-99, que representan lo que no han fallecido

In [12]:
df['FECHA_DEF'] = df['FECHA_DEF'].replace('9999-99-99', np.nan)

In [13]:
df['FECHA_DEF'] = pd.to_datetime(df['FECHA_DEF'])

In [14]:
df['FECHA_SINTOMAS'] = pd.to_datetime(df['FECHA_SINTOMAS'])
df['FECHA_ACTUALIZACION'] = pd.to_datetime(df['FECHA_ACTUALIZACION'])

Vamos a calcular el numero de dias que han pasado desde la fecha de ingreso/sintomas hasta la fecha de defuncion

In [15]:
df['DIAS_SINTOMAS_DEF'] = (df['FECHA_DEF'] - df['FECHA_SINTOMAS']).dt.days
df['DIAS_SINTOMAS_ACT'] = (df['FECHA_ACTUALIZACION'] - df['FECHA_SINTOMAS']).dt.days

In [16]:
df[df['DEFUNCION']== 1][['DIAS_SINTOMAS_DEF','DIAS_SINTOMAS_ACT']]

         DIAS_SINTOMAS_DEF  DIAS_SINTOMAS_ACT
268                    5.0                502
498                    7.0                502
801                    3.0                502
1022                   7.0                502
1041                   9.0                501
...                    ...                ...
1295439                5.0                 15
1297034                4.0                  7
1297264                4.0                  8
1300739                6.0                465
1304371                2.0                314

[3435 rows x 2 columns]

Seleccionamos las columnas que nos interesan para el análisis

In [17]:
df_cox = df[["DEFUNCION","DIAS_SINTOMAS_ACT","DIAS_SINTOMAS_DEF", "NEUMONIA", "DIABETES", "EPOC", "ASMA", "INMUSUPR", "HIPERTENSION", "OTRA_COM", "CARDIOVASCULAR", "OBESIDAD", "RENAL_CRONICA", "TABAQUISMO"]]

In [18]:
df_cox.head()

,DEFUNCION,DIAS_SINTOMAS_ACT,DIAS_SINTOMAS_DEF,NEUMONIA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
9,2,473,NaN,2,2,2,2,2,2,2,2,2,2,2
13,2,458,NaN,2,2,2,2,2,2,2,2,2,2,2
20,2,494,NaN,2,2,2,2,2,2,1,2,2,2,2
28,2,488,NaN,2,2,2,2,2,2,2,2,2,2,2
32,2,375,NaN,2,2,2,2,2,2,2,2,2,2,2

In [19]:
df_cox["DEFUNCION"].value_counts()

DEFUNCION
2    431473
1      3435
Name: count, dtype: int64

Camabiar valores para que 1 sea si (prensenta condicion o afirmacion de nombre de columna) y 0 sea no (no presenta condicion o negación de nombre de columna)

In [20]:
df_cox.replace([1,2], [1,0], inplace=True)

C:\Users\daniel\AppData\Local\Temp\ipykernel_22208\3344868473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cox.replace([1,2], [1,0], inplace=True)

Vamos a eliminar los registros con valores nulos

In [21]:
day_variables = df_cox[["DIAS_SINTOMAS_ACT","DIAS_SINTOMAS_DEF"]]

In [22]:
df_cox = df_cox.drop(day_variables, axis=1)

In [23]:
df_cox.replace([97,98,99], np.nan, inplace=True)

In [24]:
df_cox = df_cox.dropna()

In [25]:
df_cox["DEFUNCION"].value_counts()

DEFUNCION
0    429323
1      3397
Name: count, dtype: int64

In [26]:
df_cox = df_cox.astype(int)

In [27]:
df_cox = df_cox.join(day_variables, how='left')

In [28]:
df_cox.info()

<class 'pandas.core.frame.DataFrame'>
Index: 432720 entries, 9 to 1298788
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DEFUNCION          432720 non-null  int32
 1   NEUMONIA           432720 non-null  int32
 2   DIABETES           432720 non-null  int32
 3   EPOC               432720 non-null  int32
 4   ASMA               432720 non-null  int32
 5   INMUSUPR           432720 non-null  int32
 6   HIPERTENSION       432720 non-null  int32
 7   OTRA_COM           432720 non-null  int32
 8   CARDIOVASCULAR     432720 non-null  int32
 9   OBESIDAD           432720 non-null  int32
 10  RENAL_CRONICA      432720 non-null  int32
 11  TABAQUISMO         432720 non-null  int32
 12  DIAS_SINTOMAS_ACT  432720 non-null  int64
 13  DIAS_SINTOMAS_DEF  3397 non-null    float64
dtypes: float64(1), int32(12), int64(1)
memory usage: 45.8 MB

In [29]:
df_cox.columns

Index(['DEFUNCION', 'NEUMONIA', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR',
       'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO', 'DIAS_SINTOMAS_ACT',
       'DIAS_SINTOMAS_DEF'],
      dtype='object')

En los dias transcurridos hasta el evento, para los pacientes que fallecieron, los valores se reemplazan por los días desde la fecha del inicio de los sintomas, hasta la fecha de defuncion. Para los pacientes que no fallecieron, el valor de dias transcurridos se reemplazan por los dias desde el inicio de los sintomas hasta la ultima fecha de actualización del conjunto de datos(representa el ultimo dia de estudio)

In [30]:
df_cox["DIAS_TRANSCURRIDOS"] = np.where(df_cox['DEFUNCION'] == 0, df_cox["DIAS_SINTOMAS_ACT"], df_cox["DIAS_SINTOMAS_DEF"])

In [31]:
df_cox.drop(["DIAS_SINTOMAS_ACT", "DIAS_SINTOMAS_DEF"], axis=1, inplace=True)

In [32]:
df_cox.columns = ['DEFUNCION', 'NEUMONIA', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR',
       'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO', 'DIAS_SINTOMAS_DEF']

In [33]:
df_cox = df_cox.astype(int)

In [34]:
df_cox.head()

,DEFUNCION,NEUMONIA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,DIAS_SINTOMAS_DEF
9,0,0,0,0,0,0,0,0,0,0,0,0,473
13,0,0,0,0,0,0,0,0,0,0,0,0,458
20,0,0,0,0,0,0,0,1,0,0,0,0,494
28,0,0,0,0,0,0,0,0,0,0,0,0,488
32,0,0,0,0,0,0,0,0,0,0,0,0,375

In [35]:
enfermedades = ['NEUMONIA', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR',
       'HIPERTENSION','CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO']

In [36]:
df_cox.DEFUNCION.value_counts()

DEFUNCION
0    429323
1      3397
Name: count, dtype: int64

In [36]:
df_cox.to_csv('data/df_cox2023.csv', index=False)