In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
df = pd.read_csv('data/COVID19MEXICO2021.csv')

C:\Users\daniel\AppData\Local\Temp\ipykernel_4260\3610430925.py:1: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/COVID19MEXICO2021.csv')

In [4]:
df["ID_REGISTRO"].duplicated().sum()

0

In [5]:
df.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,2021-01-16,2021-01-13,9999-99-99,97,2,26,1,97,2,2,2,2,2,2,2,2,2,2,2,2,1,2,97,1,2,7,99,México,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,2021-02-28,2021-02-20,9999-99-99,97,99,34,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,2,2,97,7,99,México,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,2021-01-13,2021-01-13,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,2,2,2,2,1,1,1,2,2,97,7,99,México,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,2021-01-25,2021-01-17,9999-99-99,97,2,25,1,97,2,2,2,2,2,2,2,2,2,2,2,2,1,2,97,1,2,7,99,México,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,2021-01-14,2021-01-10,9999-99-99,97,2,20,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97

Se seleccionan unicamente los registros que sean confirmados y que sean casos positivos de COVID-19

Según el catalogo de datos, los valores 1,2,3 son casos confirmados

In [6]:
df.columns = ['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL_COVID',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI']

In [7]:
df["CLASIFICACION_FINAL_COVID"].value_counts()

CLASIFICACION_FINAL_COVID
7    6054994
3    2302159
6     226709
1     220248
5      20335
2       4242
4       1658
Name: count, dtype: int64

In [8]:
df[(df["CLASIFICACION_FINAL_COVID"] == 1) | (df["CLASIFICACION_FINAL_COVID"] == 2) | (df["CLASIFICACION_FINAL_COVID"] == 3)]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL_COVID,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
6,2022-08-09,1009d6,1,12,30,1,30,30,85,1,2021-02-17,2021-02-14,9999-99-99,97,2,36,1,2,2,2,1,2,2,2,2,2,2,2,2,2,2,1,1,2,97,3,99,México,97,97
10,2022-08-09,0f6295,1,6,24,1,24,24,28,1,2021-01-29,2021-01-27,9999-99-99,97,2,63,1,2,2,2,2,2,1,2,2,1,1,2,2,2,99,1,1,2,97,3,99,México,97,97
16,2022-08-09,gzza9a9,1,12,9,1,9,9,4,1,2021-09-01,2021-09-01,9999-99-99,97,2,18,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,97,1,2,1,99,México,97,97
31,2022-08-09,gz2a60a,2,4,15,1,9,15,60,1,2022-01-04,2021-12-31,9999-99-99,97,2,33,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2,97,1,1,3,99,México,97,97
57,2022-08-09,gz2fa87,2,4,26,1,25,26,55,1,2021-12-24,2021-12-21,9999-99-99,97,2,44,1,2,2,2,2,2,2,2,1,2,2,1,2,2,2,2,97,1,1,3,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830180,2022-08-09,m02e1f4,2,12,15,1,15,15,64,1,2021-09-28,2021-09-25,9999-99-99,97,99,22,1,2,99,99,2,2,2,2,2,98,2,2,2,2,99,2,97,1,1,3,99,México,97,97
8830182,2022-08-09,m0d8232,2,12,15,1,15,15,64,1,2021-09-30,2021-09-27,9999-99-99,97,99,21,1,2,99,99,2,2,2,2,2,98,2,2,2,2,99,2,97,1,1,3,99,México,97,97
8830186,2022-08-09,m1bf9c0,2,12,15,1,15,15,60,1,2021-10-07,2021-10-01,9999-99-99,97,99,18,1,2,99,99,2,2,2,2,2,98,2,2,2,2,99,2,97,1,1,3,99,México,97,97
8830205,2022-08-09,m0dd435,2,12,15,2,15,15,60,1,2021-10-06,2021-10-03,9999-99-99,97,99,31,1,97,99,99,2,2,2,2,2,98,2,2,2,2,99,2,97,1,1,3,99,México,97,97
8830208,2022-08-09,m07ede2,2,12,15,2,15,15,60,1,2021-10-05,2021-10-03,9999-99-99,97,99,67,1,97,99,99,2,2,2,2,2,98,2,2,2,2,99,2,97,1,1,3,99,México,97,97

In [9]:
df = df[(df["CLASIFICACION_FINAL_COVID"] == 1) | (df["CLASIFICACION_FINAL_COVID"] == 2) | (df["CLASIFICACION_FINAL_COVID"] == 3)]

### Se crea una nueva variable que es saber si la persona falleció o no

In [10]:
df["DEFUNCION"] = np.where(df['FECHA_DEF'] == '9999-99-99', 2, 1)

### Se pasa a formato fecha

#### Primero se pasa a nulos los valores de 9999-99-99, que representan lo que no han fallecido

In [11]:
df['FECHA_DEF'] = df['FECHA_DEF'].replace('9999-99-99', np.nan)

In [12]:
df['FECHA_DEF'] = pd.to_datetime(df['FECHA_DEF'])

In [13]:
df['FECHA_SINTOMAS'] = pd.to_datetime(df['FECHA_SINTOMAS'])
df['FECHA_ACTUALIZACION'] = pd.to_datetime(df['FECHA_ACTUALIZACION'])

In [20]:
df.FECHA_DEF.describe()

count                           141499
mean     2021-05-29 18:33:23.853030400
min                2021-01-01 00:00:00
25%                2021-02-11 00:00:00
50%                2021-05-15 00:00:00
75%                2021-08-30 00:00:00
max                2022-07-29 00:00:00
Name: FECHA_DEF, dtype: object

In [21]:
df.FECHA_SINTOMAS.describe()

count                          2526649
mean     2021-06-21 09:45:30.052492800
min                2021-01-01 00:00:00
25%                2021-03-06 00:00:00
50%                2021-07-22 00:00:00
75%                2021-08-28 00:00:00
max                2021-12-31 00:00:00
Name: FECHA_SINTOMAS, dtype: object

In [22]:
df.FECHA_ACTUALIZACION.describe()

count                2526649
mean     2022-08-09 00:00:00
min      2022-08-09 00:00:00
25%      2022-08-09 00:00:00
50%      2022-08-09 00:00:00
75%      2022-08-09 00:00:00
max      2022-08-09 00:00:00
Name: FECHA_ACTUALIZACION, dtype: object

Vamos a calcular el numero de dias que han pasado desde la fecha de ingreso/sintomas hasta la fecha de defuncion

In [14]:
df['DIAS_SINTOMAS_DEF'] = (df['FECHA_DEF'] - df['FECHA_SINTOMAS']).dt.days
df['DIAS_SINTOMAS_ACT'] = (df['FECHA_ACTUALIZACION'] - df['FECHA_SINTOMAS']).dt.days

In [15]:
df[df['DEFUNCION']== 1][['DIAS_SINTOMAS_DEF','DIAS_SINTOMAS_ACT']]

         DIAS_SINTOMAS_DEF  DIAS_SINTOMAS_ACT
124                    9.0                536
136                   12.0                473
420                   11.0                561
462                   11.0                561
482                   17.0                560
...                    ...                ...
8780459                7.0                286
8781718               23.0                285
8784505               13.0                279
8790898                3.0                267
8801216                4.0                239

[141499 rows x 2 columns]

In [16]:
df.shape

(2526649, 43)

In [17]:
df.DEFUNCION.value_counts()

DEFUNCION
2    2385150
1     141499
Name: count, dtype: int64

Seleccionamos las columnas que nos interesan para el análisis

In [23]:
df_cox = df[["DEFUNCION","DIAS_SINTOMAS_ACT","DIAS_SINTOMAS_DEF", "NEUMONIA", "DIABETES", "EPOC", "ASMA", "INMUSUPR", "HIPERTENSION", "OTRA_COM", "CARDIOVASCULAR", "OBESIDAD", "RENAL_CRONICA", "TABAQUISMO"]]

In [24]:
df_cox.head()

,DEFUNCION,DIAS_SINTOMAS_ACT,DIAS_SINTOMAS_DEF,NEUMONIA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
6,2,541,NaN,2,1,2,2,2,2,2,2,2,2,2
10,2,559,NaN,2,2,2,1,2,2,1,1,2,2,2
16,2,342,NaN,2,2,2,2,2,2,2,2,2,2,2
31,2,221,NaN,2,2,2,2,2,2,2,2,2,2,2
57,2,231,NaN,2,2,2,2,2,1,2,2,1,2,2

In [25]:
df_cox["DEFUNCION"].value_counts()

DEFUNCION
2    2385150
1     141499
Name: count, dtype: int64

Camabiar valores para que 1 sea si (prensenta condicion o afirmacion de nombre de columna) y 0 sea no (no presenta condicion o negación de nombre de columna)

In [26]:
df_cox.replace([1,2], [1,0], inplace=True)

C:\Users\daniel\AppData\Local\Temp\ipykernel_4260\3344868473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cox.replace([1,2], [1,0], inplace=True)

Vamos a eliminar los registros con valores nulos

In [27]:
day_variables = df_cox[["DIAS_SINTOMAS_ACT","DIAS_SINTOMAS_DEF"]]

In [28]:
df_cox = df_cox.drop(day_variables, axis=1)

In [29]:
df_cox.replace([97,98,99], np.nan, inplace=True)

In [30]:
df_cox = df_cox.dropna()

In [31]:
df_cox["DEFUNCION"].value_counts()

DEFUNCION
0    2361578
1     139904
Name: count, dtype: int64

In [32]:
df_cox = df_cox.astype(int)

In [33]:
df_cox = df_cox.join(day_variables, how='left')

In [34]:
df_cox.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2501482 entries, 6 to 8708284
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   DEFUNCION          int32
 1   NEUMONIA           int32
 2   DIABETES           int32
 3   EPOC               int32
 4   ASMA               int32
 5   INMUSUPR           int32
 6   HIPERTENSION       int32
 7   OTRA_COM           int32
 8   CARDIOVASCULAR     int32
 9   OBESIDAD           int32
 10  RENAL_CRONICA      int32
 11  TABAQUISMO         int32
 12  DIAS_SINTOMAS_ACT  int64
 13  DIAS_SINTOMAS_DEF  float64
dtypes: float64(1), int32(12), int64(1)
memory usage: 236.3 MB

In [35]:
df_cox.columns

Index(['DEFUNCION', 'NEUMONIA', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR',
       'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO', 'DIAS_SINTOMAS_ACT',
       'DIAS_SINTOMAS_DEF'],
      dtype='object')

En los dias transcurridos hasta el evento, para los pacientes que fallecieron, los valores se reemplazan por los días desde la fecha del inicio de los sintomas, hasta la fecha de defuncion. Para los pacientes que no fallecieron, el valor de dias transcurridos se reemplazan por los dias desde el inicio de los sintomas hasta la ultima fecha de actualización del conjunto de datos(representa el ultimo dia de estudio)

In [36]:
df_cox["DIAS_TRANSCURRIDOS"] = np.where(df_cox['DEFUNCION'] == 0, df_cox["DIAS_SINTOMAS_ACT"], df_cox["DIAS_SINTOMAS_DEF"])

In [37]:
df_cox.drop(["DIAS_SINTOMAS_ACT", "DIAS_SINTOMAS_DEF"], axis=1, inplace=True)

In [38]:
df_cox.columns = ['DEFUNCION', 'NEUMONIA', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR',
       'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO', 'DIAS_SINTOMAS_DEF']

In [39]:
df_cox = df_cox.astype(int)

In [40]:
df_cox.head()

,DEFUNCION,NEUMONIA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,DIAS_SINTOMAS_DEF
6,0,0,1,0,0,0,0,0,0,0,0,0,541
10,0,0,0,0,1,0,0,1,1,0,0,0,559
16,0,0,0,0,0,0,0,0,0,0,0,0,342
31,0,0,0,0,0,0,0,0,0,0,0,0,221
57,0,0,0,0,0,0,1,0,0,1,0,0,231

In [43]:
df_cox.to_csv('data/df_cox2021.csv', index=False)